</main>
<footer class="mt-auto">
  <img src="{{ site.baseurl }}/assets/img/camlogo.jpg" class="pull-right" style="height: 200px" alt="Cambridge" />
</footer>

{%- include partials/modal_link.html -%}

{%- if site.conference.live.streaming.enable -%}
{%- include partials/modal_live.html -%}
{%- endif -%}

<!-- Append build time to avoid caching of live program embedded in JavaScript file -->
<script src="{{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: " %s" }}"></script>

</body>

</html>